@page
@model Code1stUsersRoles.Pages.UsersModel
@{
    ViewData["Title"] = "UsersModel";
}

<h1>@ViewData["Title"]</h1>

<div>
    <table class="table">
        <thead>
            <tr>
                <th>User Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Users != null)
            {
                @foreach (var user in Model.Users)
                {
                    <tr>
                        <td>@user.UserName</td>
                        <td>
                            @if (User.IsInRole("Admin"))
                            {
                                <a asp-page="./EditUser" asp-route-userId="@user.Id">Edit</a>
                                <a asp-page-handler="DeleteUser" asp-route-userId="@user.Id">Delete</a>
                            }
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>



@* @page
@model Code1stUsersRoles.Pages.UsersModel
@{
ViewData["Title"] = "UsersModel";
}

<h1>@ViewData["Title"]</h1>

<div>
<table class="table">
<thead>
<tr>
<th>User Name</th>
<th>Action</th>
</tr>
</thead>
<tbody>
@foreach (var user in Model.Users)
{
<tr>
<td>@user.UserName</td>
<td>
<a asp-page="./EditUser" asp-route-userId="@user.Id">Edit</a> |
<a asp-page-handler="DeleteUser" asp-route-userId="@user.Id">Delete</a>
</td>
</tr>
}
</tbody>
</table>
</div> *@